{% extends 'layout.html' %}
{% block content %}
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
            <form method="POST" action="/entries/{{ entry.id }}/edit">
                {{ form.csrf_token }}
                {% for field in form %}
                    {% if field.label.text != 'CSRF Token' %}
                      {{ render_field(field) }}
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Update Entry" class="button">
                <a href={{ url_for('delete', entry_id=entry.id) }} class="button" onclick="return confirm('Are you sure you want to delete this Journal entry?');">Delete Entry</a>
                <a href={{ url_for('details', entry_id=entry.id) }} class="button button-secondary">Cancel</a>
            </form>
                </div>
            </div>
        </section>
{% endblock %}
