{% extends 'layout.html' %}
{% block content %}
        <section>
            <div class="container">
                <div class="entry-list">
                    {% if not entries %}
                        <h1>No entries yet. Start journaling!</h1>
                    {% endif %}
                    {% for entry in entries %}
                       <article>
                           <h2><a href="{{ url_for('details', entry_id=entry.id) }}">{{ entry.title }}</a></h2>
                           <time> {{ entry.dateCreated.strftime('%B %d, %Y') }}</time>
                           <br>
                       </article>
                    {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}
