{% extends 'layout.html' %}
{% block content %}

 <section>
            <div class="container">
                <div class="new-entry">
                    <h2>New Entry</h2>
                    <form method="post" action="/new">
                      {{ form.hidden_tag() }}
                      {% for field in form %}
                          {% if field.label.text != 'CSRF Token' %}
                            {{ render_field(field) }}
                          {% endif %}
                      {% endfor %}
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}
